<main class="edit">
    <!-- Edit Page (Only for logged-in users) -->
    <section id="edit">
        <div class="form">
            <h2>Edit Myth or Legend</h2>
            <form class="edit-form" method="POST">
                <input type="text" id="name" placeholder="Name" name="name" value="{{myth.name}}"/>
                <input type="text" id="origin" placeholder="Origin (e.g. Greek, Norse, Egyptian)" name="name" value="{{myth.origin}}"/>
                <input type="text" id="role" placeholder="Role" value="King of the Gods, God of the Sky" name="role" value="{{myth.role}}"/>
                <input type="text" id="myth-img" placeholder="Image URL" value="./static/images/zeus.webp" name="imageUrl" value="{{myth.imageUrl}}"/>
                <input type="text" id="symbol" placeholder="Symbol / Attribute" value="Thunderbolt, Eagle" name="symbol" value="{{myth.symbol}}"/>
                <input type="text" id="era" placeholder="Era or Period" value="Classical Antiquity" name="era" value="{{myth.era}}"/>

                <textarea id="description" placeholder="Description..." name="description">{{myth.description}}</textarea>
                <button type="submit">Edit</button>
            </form>

        </div>
    </section>
</main>